<div class="navbar-container" [class.example-is-mobile]="mobileQuery.matches">

  <!-- Top navbar -->
  <mat-toolbar class="navbar" color="primary">

    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>

    <a class="navbar-brand" [routerLink]="['/']" matTooltip="Home">
      <h1>
        Delivery Management System
      </h1>
    </a>

    <span class="navbar-spacer"></span>

  </mat-toolbar>

  <mat-sidenav-container class="navbar-sidenav-container">

    <!-- Main content -->
    <mat-sidenav-content class="sidenav-content">

      <div class="progress-bar-container">
        <mat-progress-bar color="accent" mode="indeterminate" *ngIf="spinnerService.visibility | async">
        </mat-progress-bar>
        <!-- <mat-spinner class="spinner" [diameter]="50" *ngIf="showSpinner"></mat-spinner> -->
      </div>


      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
