mat-card {
  width: 100%;
  margin: 20px auto;
  padding: 20px
}

mat-form-field {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}

button {
  margin-bottom: 15px;
}
