<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">
    <mat-card>
      <mat-card-content>
        <h2>Create Order</h2>

        <form [formGroup]="form">
          <div fxLayout="column" fxLayoutAlign="left none">
            <h3>Delivery Information</h3>

            <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
              <div class="col-2" fxFlex="49%" fxFlex.sm="95%" fxFlex.xs="95%">
                <h3>Sender Information</h3>

                <mat-form-field class="widen">
                  <input matInput type="text" placeholder="Sender Name" formControlName="senderName" required />

                  <!-- <mat-error *ngIf="form.controls['senderName'].hasError('required')">Please enter sender name.</mat-error> -->
                </mat-form-field>
                <mat-form-field class="widen">
                  <input matInput type="text" placeholder="Sender Phone" formControlName="senderPhone" required />
                  <!-- <mat-error *ngIf="form.controls['senderPhone'].hasError('required')">Please enter sender phone number.</mat-error> -->
                </mat-form-field>
                <mat-form-field class="widen">
                  <input matInput type="text" placeholder="Sender Email" formControlName="senderEmail" email />
                  <!-- <mat-error *ngIf="form.controls['senderEmail'].hasError('required')">Please enter sender email.</mat-error> -->
                </mat-form-field>
                <mat-form-field class="widen">
                  <input matInput type="text" placeholder="Sender Address" formControlName="senderAddress" required />
                  <!-- <mat-error *ngIf="form.controls['senderAddress'].hasError('required')">Please enter sender address.</mat-error> -->
                </mat-form-field>

              </div>

              <div fxFlex class="vertical-separate">&nbsp;</div>

              <div class="col-2" fxFlex="49%" fxFlex.sm="95%" fxFlex.xs="95%">
                <h3>Receiver Information</h3>

                <mat-form-field class="widen">
                  <input matInput type="text" placeholder="ReceiverName" formControlName="receiverName" required />

                  <!-- <mat-error *ngIf="form.controls['receiverName'].hasError('required')">Please enter receiver name.</mat-error> -->
                </mat-form-field>
                <mat-form-field class="widen">
                  <input matInput type="text" placeholder="Receiver Phone" formControlName="receiverPhone" required />
                  <!-- <mat-error *ngIf="form.controls['receiverPhone'].hasError('required')">Please enter receiver phone number.</mat-error> -->
                </mat-form-field>
                <mat-form-field class="widen">
                  <input matInput type="text" placeholder="ReceiverEmail" formControlName="receiverEmail" email />
                  <!-- <mat-error *ngIf="form.controls['receiverEmail'].hasError('required')">Please enter receiver email.</mat-error> -->
                </mat-form-field>
                <mat-form-field class="widen">
                  <input matInput type="text" placeholder="Receiver Address" formControlName="receiverAddress" required />
                  <!-- <mat-error *ngIf="form.controls['receiverAddress'].hasError('required')">Please enter receiver address.</mat-error> -->
                </mat-form-field>
              </div>
            </div>

            <hr class="verizontal-seperator"/>

            <h3>Routes Definition</h3>

            <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
              <mat-form-field class="chip-list" appearance="fill">
                <mat-label>Favorite Fruits</mat-label>
                <mat-chip-list #chipList aria-label="Fruit selection">
                  <mat-chip *ngFor="let fruit of fruits">
                    Test chip
                    <button matChipRemove>
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip>
                  <input placeholder="Type to search warehouse..."
                  #fruitInput
                  [formControl]="fruitCtrl"
                  [matAutocomplete]="auto"
                  [matChipInputFor]="chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  >
                </mat-chip-list>
                <mat-autocomplete #auto="matAutocomplete" >
                  <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
                    {{fruit}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

              <h4>Routes List</h4>
            </div>

            <hr class="verizontal-seperator" />

            <h3>Order Information</h3>
          </div>
        </form>

      </mat-card-content>
    </mat-card>
  </div>
</div>
